body{
    background-color: aquamarine;
}

#headerSection{
    padding: 5px;
}

#headerSection h1{
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif
}

input{
    padding: 10px;
    border-radius: 5px;
}

#dropbox{
    padding: 10px;
    border-radius: 5px;
    width: 15%;
}

#loginbutton{
    padding: 5px;
    font-size: 15px;
    background-color: #3498db;
    color: white;
    border-radius: 5px;
}
